{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h1>
    <p>My Posts</p>
</h1>

<table style="font-size: 25px;width: 100%" ;>
    <!--width 100% = use all of screen, is adjustable-->

    {% for p,c,l in zipped_list %}
    <!--interating through posts, comments, and likes for each post at the same time-->
    <tr style="border: 1px solid black;padding: 6px;">
        <!--tr = table row-->
        <td>{{p.username}}:&nbsp{{ p }} <br>
            <!--p.username = get username of poster. can do this because "username" is under the post class in models file-->
            <!--&nbsp = html code for a space. 
                        this will show the username of the poster: the post content
                        <br> = a tab-->
            {% if p.image %}
            <img src="{{p.image.url}}" class="img-thumbnail" style="max-height:300px" alt="">
            {% endif %}
            <!--if post has image, display it using "image" attribute from module file. Limit the size of it. if no image, blank-->
        </td>
    </tr>
    <tr style="border: 1px solid black;padding: 6px;">
        <td>{{p.date_posted}}</td>
        <td>Likes: &nbsp {{l}} &nbsp&nbsp&nbsp</td>
        <td>Comments: &nbsp {{c}} &nbsp&nbsp</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}